.about-content-1 {
  display: flex;
  align-items: center;
  height: 54rem;
  flex-direction: column;
}

.aboutContent1 {
  transform: translateY(100%);
}

.about-content-2 {
  display: flex;
  align-items: center;
  height: 45rem;
}
