.home-content {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.home-content-1 {
  display: flex;
  /* position: relative; */
  width: 100%;
  align-items: center;
  text-align: center;
  height: 54rem;
}

.home-content-1-overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 101%;
  color: whitesmoke;
  background-color: rgba(0,0,0,0.7);
}

.home-content-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translate(0%,100%);
}

.home-content-1-text h1 {
  width: 42%;
  margin: 0;
}

.home-content-1-text hr {
  width: 33%;
}

.home-content-1-bgvid {
  height: 100%;
  width: 100%;
  z-index: -2;
}

.home-content-2 {
  height: 54rem;
  width: 100%;
}

.home-content-2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 20%;
  transform: translateY(150%);
}


.home-content-2 img {
  transform: translate(100%,220%);
}

.home-content-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 54rem;
  width: 100%;
}