html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  text-align: center;
}

